@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  line-height: 1.25;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caption {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 111%;
  font-size: 1rem;
}

.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 111%;
  text-transform: uppercase;
}

.text {
  font-size: 1.5rem;
  line-height: 1.25;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 40px;
  background: #e11b19;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button::after {
  content: "";
  width: 0.375rem;
  height: 0.625rem;
  background: url("../img/arrowright.svg") 0 0/100% no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.752);
}

.header__container {
  min-height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .main{
  background: url("../img/main/mainbg.png") center/cover no-repeat; }

.main {
  min-height: 100vh;
}

.main__caption {
  margin-bottom: 0.3125rem;
}

.main__title {
  margin-bottom: 0.625rem;
}

.main__text {
  max-width: 46.625rem;
}

.clients-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  row-gap: 1.875rem;
}

.training {
  background-color: #1f2327;
}

.training__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.training__image img {
  max-width: 100%;
}

.training__caption {
  margin-bottom: 0.3125rem;
}

.training__list {
  text-transform: uppercase;
}

.training__item {
  font-weight: 700;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.0625rem;
}

.training__item::before {
  content: "";
  width: 1.25rem;
  height: 0.875rem;
  background: url("../img/check.svg") 0 0/100% no-repeat;
}

.training__item:not(:last-child) {
  margin-bottom: 0.875rem;
}

.leader {
  background-color: #191c1f;
}

.leader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  padding-bottom: 0.3125rem;
}

.leader__label {
  margin-bottom: 0.3125rem;
}

.leader__title {
  margin-bottom: 0.625rem;
}

.leader__text {
  max-width: 25.3125rem;
  font-size: 1.125rem;
  line-height: 1.38;
}

.leader__image img {
  max-width: 100%;
}

.no-webp .finish{
  background: url("../img/finish/finishBg.png") center/cover no-repeat; }

.finish {
  min-height: 100vh;
}

.finish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.finish__label {
  margin-bottom: 0.3125rem;
}

.finish__title {
  margin-bottom: 0.625rem;
  max-width: 46.625rem;
}

.finish__text {
  max-width: 46.625rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 71.25em) {
  .button {
    padding: 1.25rem;
  }

  .main__container {
    padding-top: 11.4375rem;
  }

  .main__content {
    margin-bottom: 12.5rem;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__text {
    margin-bottom: 1.875rem;
  }

  .training__container {
    padding-top: 12.5rem;
  }

  .training__container {
    gap: 7.6875rem;
  }

  .training__title {
    margin-bottom: 1.6875rem;
  }

  .leader__container {
    padding-top: 14.375rem;
  }

  .finish__container {
    padding-top: 12.5rem;
  }

  .finish__title {
    font-size: 4rem;
  }
}

@media (max-width: 20em) {
  .button {
    padding: 0.9375rem;
  }

  .main__container {
    padding-top: 6.0625rem;
  }

  .main__content {
    margin-bottom: 6.25rem;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__text {
    margin-bottom: 0.9375rem;
  }

  .training__container {
    padding-top: 6.25rem;
  }

  .training__container {
    gap: 3.75rem;
  }

  .training__title {
    margin-bottom: 1.125rem;
  }

  .leader__container {
    padding-top: 7.1875rem;
  }

  .finish__container {
    padding-top: 6.25rem;
  }

  .finish__title {
    font-size: 2.3125rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }

  .fp-bullets {
    right: 0;
  }

  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .training__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .training__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .leader__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (padding: clamp( 0.9375rem , 0.8155487805rem  +  0.6097560976vw , 1.25rem )) {
    .button {
      padding: clamp( 0.9375rem , 0.8155487805rem  +  0.6097560976vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.8155487805rem  +  0.6097560976vw , 1.25rem )) {
    .button {
      padding: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 6.0625rem , 3.9649390244rem  +  10.487804878vw , 11.4375rem )) {
    .main__container {
      padding-top: clamp( 6.0625rem , 3.9649390244rem  +  10.487804878vw , 11.4375rem );
    }
}

@supports not (padding-top: clamp( 6.0625rem , 3.9649390244rem  +  10.487804878vw , 11.4375rem )) {
    .main__container {
      padding-top: calc(6.0625rem + 5.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .main__content {
      margin-bottom: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem );
    }
}

@supports not (margin-bottom: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .main__content {
      margin-bottom: calc(6.25rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .main__title {
      font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.9146341463rem  +  2.9268292683vw , 4rem )) {
    .main__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .main__text {
      margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .main__text {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .training__container {
      padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .training__container {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (gap: clamp( 3.75rem , 2.2134146341rem  +  7.6829268293vw , 7.6875rem )) {
    .training__container {
      gap: clamp( 3.75rem , 2.2134146341rem  +  7.6829268293vw , 7.6875rem );
    }
}

@supports not (gap: clamp( 3.75rem , 2.2134146341rem  +  7.6829268293vw , 7.6875rem )) {
    .training__container {
      gap: calc(3.75rem + 3.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.9054878049rem  +  1.0975609756vw , 1.6875rem )) {
    .training__title {
      margin-bottom: clamp( 1.125rem , 0.9054878049rem  +  1.0975609756vw , 1.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.9054878049rem  +  1.0975609756vw , 1.6875rem )) {
    .training__title {
      margin-bottom: calc(1.125rem + 0.5625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 7.1875rem , 4.3826219512rem  +  14.0243902439vw , 14.375rem )) {
    .leader__container {
      padding-top: clamp( 7.1875rem , 4.3826219512rem  +  14.0243902439vw , 14.375rem );
    }
}

@supports not (padding-top: clamp( 7.1875rem , 4.3826219512rem  +  14.0243902439vw , 14.375rem )) {
    .leader__container {
      padding-top: calc(7.1875rem + 7.1875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .finish__container {
      padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.8109756098rem  +  12.1951219512vw , 12.5rem )) {
    .finish__container {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 2.3125rem , 1.6539634146rem  +  3.2926829268vw , 4rem )) {
    .finish__title {
      font-size: clamp( 2.3125rem , 1.6539634146rem  +  3.2926829268vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.3125rem , 1.6539634146rem  +  3.2926829268vw , 4rem )) {
    .finish__title {
      font-size: calc(2.3125rem + 1.6875 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .button:hover {
    background-color: #ac4644;
  }
}

.webp .main{ background: url(../img/main/mainbg.webp) center/cover no-repeat; }

.webp .finish{ background: url(../img/finish/finishBg.webp) center/cover no-repeat; }